.Info {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #f0f8ff;
  user-select: none;
}

.FlexCenter {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #faebd7;
}

.TextCenter {
  text-align: center;
}

.Thief {
  position: absolute;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.Start {
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
}